[epel-next-local]
name=Local EPEL Next 9 (Upstream for now)
metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-next-9&arch=$basearch
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-9

