[local-baseos]
name=Local CentOS Stream 9 BaseOS
baseurl=http://reposync.corp.local/centos-stream/9/baseos/
enabled=1
gpgcheck=0

[local-appstream]
name=Local CentOS Stream 9 AppStream
baseurl=http://reposync.corp.local/centos-stream/9/appstream/
enabled=1
gpgcheck=0

[local-crb]
name=Local CentOS Stream 9 CRB
baseurl=http://reposync.corp.local/centos-stream/9/crb/
enabled=1
gpgcheck=0

